table { border-collapse: collapse; background-color: whitesmoke}

@media screen and (max-width: 600px) {
    table { border-collapse: collapse;background-color: whitesmoke}
    td:first-child { 
        width: 200px ;
    }
    td:first-child + td {  font-size: small }
    td:first-child + td + td {  width: 120px }
}